@model HalfAndHalf.Models.Incident

@{
    ViewData["Title"] = "Incident Details";
}

<h1>Incident Details</h1>

<div>
    <h4>Incident #@Model.Seqnos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Date Received</dt>
        <dd class="col-sm-9">@Model.DateTimeReceived.ToLocalTime()</dd>

        <dt class="col-sm-3">Date Completed</dt>
        <dd class="col-sm-9">@(Model.DateTimeComplete?.ToLocalTime().ToString() ?? "Not Completed")</dd>

        <dt class="col-sm-3">Call Type</dt>
        <dd class="col-sm-9">@Model.CallType</dd>

        <dt class="col-sm-3">Location</dt>
        <dd class="col-sm-9">@($"{Model.ResponsibleCity}, {Model.ResponsibleState} {Model.ResponsibleZip}")</dd>

        <dt class="col-sm-3">Type of Incident</dt>
        <dd class="col-sm-9">@Model.TypeOfIncident</dd>

        <dt class="col-sm-3">Incident Cause</dt>
        <dd class="col-sm-9">@Model.IncidentCause</dd>

        <dt class="col-sm-3">Company</dt>
        <dd class="col-sm-9">@(Model.Company?.CompanyName ?? "N/A")</dd>

        <dt class="col-sm-3">Railroad</dt>
        <dd class="col-sm-9">@(Model.Railroad?.RailroadName ?? "N/A")</dd>

        <dt class="col-sm-3">Train</dt>
        <dd class="col-sm-9">@(Model.IncidentTrain?.NameNumber ?? "N/A")</dd>

        <dt class="col-sm-3">Injuries</dt>
        <dd class="col-sm-9">@Model.InjuryCount</dd>

        <dt class="col-sm-3">Hospitalizations</dt>
        <dd class="col-sm-9">@Model.HospitalizationCount</dd>

        <dt class="col-sm-3">Fatalities</dt>
        <dd class="col-sm-9">@Model.FatalityCount</dd>

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@Model.DescriptionOfIncident</dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
