@model IEnumerable<HalfAndHalf.Models.Incident>

@{
    ViewData["Title"] = "Incidents";
}

<h1>Incidents</h1>
<button><a class="nav-link text-dark" asp-area="" asp-controller="Incident" asp-action="TypeDistribution">TypeDistribution Graph</a>
</button>
<table class="table">
    <thead>
        <tr>
            <th>Date Received</th>
            <th>Call Type</th>
            <th>Location</th>
            <th>Type of Incident</th>
            <th>Company</th>
            <th>Railroad</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
                      
    @foreach (var item in Model) {
        
        <tr>
            <td>@item.DateTimeReceived.ToLocalTime()</td>
            <td>@item.CallType</td>
            <td>@($"{item.ResponsibleCity}, {item.ResponsibleState}")</td>
            <td>@item.TypeOfIncident</td>
            <td>@(item.Company?.CompanyName ?? "N/A")</td>
            <td>@(item.Railroad?.RailroadName ?? "N/A")</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Seqnos" class="btn btn-info btn-sm">Details</a>
            </td>
            
        </tr>
    }
    </tbody>
</table>